---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
    firstName: "Charlotte",
    country: "UK",
    occupation: "Bioinformatics Engineer",
    hobbies: ["dancing", "contra", "ceilidh"],
};

const skills = ["Ceilidh", "Contra", "Playford"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "upper";
---

<BaseLayout pageTitle={pageTitle}>
    <p>Here are a few facts about me:</p>
    <ul>
        <li>My name is {identity.firstName}.</li>
        <li>
            I live in {identity.country} and I work as a {identity.occupation}.
            But my more interesting side hustle, and the reason you are probably
            here is that I am also a folk dance caller and folk festival
            organiser. I call a variety of different folk dance styles
            including:
            <ul>
                {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>
        </li>
    </ul>
    <p>My skills are:</p>
    <ul>many</ul>
</BaseLayout>
